<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Welcome to Angora!</h1>
  
  <p><%- linkTo('See Courses', '/courses', {class: 'btn btn-primary btn-large'}) %></p>
  <p><%- linkTo('See Events', '/events', {class: 'btn btn-primary btn-large'}) %></p>

</div>
