<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Welcome to Angora!</h1>
  
  <p><%- linkTo('See Courses', 'http://localhost:4000/courses', {class: 'btn btn-primary btn-large'}) %></p>
  <p><%- linkTo('See Events', 'http://localhost:4000/events', {class: 'btn btn-primary btn-large'}) %></p>

</div>
