<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Goodbye</h1>
  <p>You've successfully logged out of Angora.</p>
  <p><%- linkTo('Log back in.', loginPath) %></p>
</div>
