<div class="control-group">
  <label for="mimeType" class="control-label">mimeType</label>
  <div class="controls">
    <%- contentTag('input', media.mimeType, {type:'text', class:'span6', name:'mimeType'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hostname" class="control-label">hostname</label>
  <div class="controls">
    <%- contentTag('input', media.hostname, {type:'text', class:'span6', name:'hostname'}) %>
  </div>
</div>
<div class="control-group">
  <label for="blobId" class="control-label">blobId</label>
  <div class="controls">
    <%- contentTag('input', media.blobId, {type:'text', class:'span6', name:'blobId'}) %>
  </div>
</div>
