<div class="control-group">
  <label for="url" class="control-label">url</label>
  <div class="controls">
    <%- contentTag('input', media.url, {type:'text', class:'span6', name:'url'}) %>
  </div>
</div>
