body {
  background: url('../img/whitey.png');
}
body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  background-color: #eeeeee;
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;

}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

#homepage {
  padding: 0px;
  margin-bottom: 5px;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
  width: 100px;
}

.list-item {
  margin-bottom: 5px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

.list-height {
  line-height: 0px;
}

.offset0 {
  margin-left: 0px;
}

.list-item div .sub {
  padding: 2px 5px;
  font-size: 11.9px;
  margin: 5px;
  display: inline;
  vertical-align: middle;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#flash-container {
  margin-top: 48px;
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}

.white {
  background-color: #eeeeee;
  text-align:center 
}

.drop{
  margin-top: 20px;
  vertical-align: bottom;
}

.margin-bottom {
  margin-bottom: 10px;
}