<div class="hero-unit">
  <h2>FooCDN Manager</h2>
  <%- linkTo('Stage Media', 'foo/stage', {class: 'btn btn-primary'}) %>
  <%- linkTo('Dump to Tape', 'foo/dump', {class: 'btn btn-danger'}) %>
</div>
