<div class="hero-unit">
  <h2>Media</h2>
  
  <h3>Upload a file</h3>
  <form action="/media/upload" method="post" enctype="multipart/form-data">
    <div><input type="file" name="name" /></div>
    <div><input type="submit" value="Upload" /></div>
  </form>
</div>

