<form id="postForm">
	<textarea value="" type="text" id="content" name="content" style="margin-top: 10px; margin-bottom: 20px; width: 75%; font-size: 16pt" rows="3" placeholder="Compose a new Post..."></textarea>
	<textarea value="" name="attachments" id="attachments" style="margin-top: 10px; margin-bottom: 20px; width: 25%; font-size: 12pt" rows="1" placeholder="Attachments"></textarea><br/>
	<input type="button" onclick="submitPost()" value="Post" class="btn btn-primary" id="<%= event.id %>"/>
	<input type="button" onclick="attachMedia()" value="Attach media" class="btn btn-primary"/>
	<!--<input type="button" onclick="" value="Post to Facebook" class="btn btn-secondary"/> -->
</form>

<script type="text/javascript">
	function submitPost() {
		var content = $("#content").val();
		clearContents('content');
		
		var mediaData = null;
		
		if($('#attachments').val()) {
			mediaData = {
				mimeType: 'plain/text',
				hostname: 'http://foocdn.azurewebsites.net/',
				blobId: 'a1bc0c85-c66a-4e9a-9617-cc70528e48ff'
			};
		}
		clearContents('attachments');
		
		var id = event.target.id;
		
		$.ajax({
			type: "POST",
			url: '/posts/add/',
			data: 
			{
				content: content,
				eventId: id,
				mediaData: mediaData
			},
            success: function(data)
            {
                //TODO: get rid of hardcoded id
                $("#posts-list").html(data);
            }
		});
	}
	function attachMedia() {
		document.getElementById('attachments').value='blah.txt';
	}
	function clearContents(element) {
		document.getElementById(element).value = '';
	}
</script>
