<div class="hero-unit" style="padding-top: 15px; padding-bottom: 15px;">
	<h4>Create a new Post</h4>
	<form id="postForm">
		<textarea value="" type="text" id="content" name="content" style="margin-top: 10px; margin-bottom: 20px; width: 75%; font-size: 16pt" rows="3" placeholder="Compose a new Post..."></textarea>
		<h5>Attachment</h5>
		<p style="font-size: 10pt;">Host: <span id="hostname">foocdn.azurewebsites.net</span></p>
		<textarea value="" name="blobId" id="blobId" style="margin-top: 10px; margin-bottom: 20px; width: 25%; font-size: 12pt" rows="1" placeholder="Blob ID"></textarea>
		<textarea value="" name="mimeType" id="mimeType" style="margin-top: 10px; margin-bottom: 20px; width: 25%; font-size: 12pt" rows="1" placeholder="MimeType"></textarea>
		<br/>
		<input type="button" onclick="submitPost()" value="Post" class="btn btn-primary" id="<%= event.id %>"/>
		<!--<input type="button" onclick="" value="Post to Facebook" class="btn btn-secondary"/> -->
	</form>
</div>

<script type="text/javascript">
	function submitPost() {
		var content = $("#content").val();	
		var mediaData = get_attachment();	
		var id = event.target.id;

		$.ajax({
			type: "POST",
			url: '/posts/add/',
			data: 
			{
				content: content,
				eventId: id,
				mediaData: mediaData
			},
            success: function(data)
            {
                //TODO: get rid of hardcoded id
                $("#posts-list").html(data);
            }
		});

		clearForm();
	}
	function clearContents(element) {
		$(element).attr('value', '');
	}
	function clearForm() {
		clearContents('#content');
		clearContents('#blobId');
		clearContents('#mimeType');
	}
	function get_attachment() {
		var mimeType = $('#mimeType').val();
		var blobId = $('#blobId').val();

		var mediaData = null;
		if(mimeType && blobId) {
			mediaData = {
				mimeType: $("#mimeType").val(),
				hostname: $("#hostname").html(),
				blobId: $("#blobId").val()
			};
		}
		else if(mimeType || blobId) {
			alert("Either MimeType or Blob Id not filled in. Not attaching media.");
		}

		return mediaData;
	}
</script>
