<div id="posts-list">
    <h3>Posts</h3>
    <% if (!posts || posts.length == 0) { %>
    <div class="alert alert-danger alert-dismissable">
        <h4 class="alert-heading">Shucks! No posts here!</h4>
    </div>

    <% } else { %>
        <div id="posts">
                <% if (posts) {
                  posts.forEach(function(post) { %>
					  <!-- each post is its own partial -->
                  <%= partial("_show", {post: post}); %>
                <% });} %>
        </div>
    <% } %>
</div>
